Django==4.2
psycopg2-binary==2.9.6
crispy-bootstrap5==0.7
django-tables2==2.5.3
Pillow==9.5.0
djangorestframework==3.14.0

pytest==7.3.1
pytest-django>=4.5.2
scrapy==2.8.0

products==1.1.2
requests==2.28.2
Faker==18.5.1
django-rq==2.7.0
redis==4.5.4